* {
	margin: 0;
}

h1 {
	color: white;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline;
	padding: 15px;
}

a {
	color: darkblue;
	text-decoration: none;
}
a:hover {
	color: white;
}

#header {
	background: url('../images/flower.jpg');
	background-size: cover;
	width: 900px;
	height: 150px;
	margin: 0 auto;
}

#container {
	background-color: green;
	border: 1 solid red;
	width: 900px;
	margin:0 auto;
}

#sidebar {
	background-color: lightblue;
	width: 200px;
	height: 400px;
	float: left;
}

#main-content {
	background-color: gray;
	width: 700px;
	height: 400px;
	float: right;
}

#footer {
	background-color: pink;
	width: 880px;
	clear: both;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}